<!-- blog-template-1.liquid -->
<style>
    .sidebar-blog-wrap.is_stuck{padding-top:20px}
    .blog__item .blog__content{
      text-align: left;
    }
    @media (min-width: 768px){
      .blog__item {
        width: 33.333%;
        margin: 0 20px 20px 20px;
      }
      .blog__item .content-block__image,.blog__item .blog__content{
     
      }
      .blog__item .blog__content{
  
      }
    }

    .article-grid-photo {

        height: 300px;
    }
   
    .blog__title-link{
      font-size: 30px;
      margin-bottom: 30px;

  
      a {
        width: 100%;
    height: 70px;
    line-height: 1.2;
    word-break: break-all;
    /* background-color: skyblue; */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -ms-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    -moz-line-clamp: 2;
    -ms-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
      }
    }
    {%- if settings.bloggrid  == 'blog-3'%}
      .blog__item.blog__item--3 .content-block__image,.blog__item.blog__item--3 .blog__content{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .article__photo-container{
        margin-bottom: 0;
      }
    {%- endif -%}
    {%- if settings.bloggrid  == 'blog-5'%}
      .blog__item.blog__item--5 .content-block__image,.blog__item.blog__item--5 .blog__content{
        flex: 0 0 100%;
        max-width: 100%;
      }
      .article__photo-container{
        margin-bottom: 0;
      }
    {%- endif -%}
  </style>
  {%- if settings.bloggrid  == 'blog-1'%}
    {% assign col = "col-6" %}
  {%- else -%}
    {% assign col = "col-12 col-md-12" %}
  {%- endif -%}
  <div class="container pt-4">

  

      {%- assign limit = section.settings.limit | minus:1 -%}
      {%- paginate blog.articles by limit -%}
            <div class="row">

          
          {%- for article in blog.articles -%}
         
            {%- include 'blog-card' -%}
         
          {%- endfor -%}
        </div>
        {%- if paginate.pages > 1 -%}
        <div class="pagination">
          {{ paginate | default_pagination | replace: '&laquo; Previous', '&larr;' | replace: 'Next &raquo;', '&rarr;' }}
        </div>
        {%- endif -%}
     
      {%- endpaginate -%}
      {%- if section.settings.sidebar_enable -%}
      {%- include 'blogSidebar' -%}
      {%- endif -%}
 
  </div>
  
  {% schema %}
    {
      "name": "Blog template 1",
      "settings": [
        {
          "type": "range",
          "id": "limit",
          "min": 6,
          "max": 50,
          "step": 1,
          "label": "Limit",
          "default": 8
        },
        {
          "type": "header",
          "content": "Sidebar"
        },
        {
          "type": "checkbox",
          "id": "sidebar_enable",
          "label": "Enable",
          "default": true
        },
        {
          "type": "select",
          "id": "sidebar_position",
          "label": "Position",
          "default": "right",
          "options": [
            {
              "value": "left",
              "label": "Left"
            },
            {
              "value": "right",
              "label": "Right"
            }
          ]
        }
  ]
    }
  {% endschema %}