<!-- collection-template-1.liquid -->

 
 

 
 {%- if productPerrow == '2' -%}
   {%- assign gridProduct = 'js-col col-sm-6 col-6' -%}
 {%- elsif productPerrow == '3' -%}
   {%- assign gridProduct = 'js-col col-sm-6 col-6 col-lg-4' -%}
 {%- elsif productPerrow == '4' -%}
   {%- assign gridProduct = 'js-col col-sm-6 col-6 col-lg-3' -%}
 {%- elsif productPerrow == '5' -%}
   {%- assign gridProduct = 'js-col col-sm-6 col-6 col-lg-2-4' -%}
 {%- elsif productPerrow == '6' -%}
   {%- assign gridProduct = 'js-col col-sm-6 col-6 col-lg-2' -%}
 {%- endif -%}
 

   <div class="{{section.settings.collection_width}}">
     <div class="row">
       {%- if section.settings.enable_sidebar -%}
         <div class="{{section.settings.sidebar_col}} col-12 js-sidebar">
           <div class="sidebar collection-sidebar js-stick-parent">
             {%- include 'sidebar' -%}
           </div>
         </div>
       {%- endif -%}
       <div class="col ">
         <div class="pl-lg-4 pl-md-4 pl-0">
     
           {% if collection.products_count == 0 %}
             <div class="bundler-target-element" data-bndlr-ccid="689h"></div>
           {% else %}
        
      
           {% endif %}
         </div>
       </div>
     </div>
     {%- include 'coupon_code' -%}
   </div>

 
