<style></style>

<!-- page-faqs.liquid -->
<div class="thebiggestwrap">
  <div class="firstPage">
    <h2>Take our New Quiz to Find The Best Products</h2>
    <h3>for Your Skin-Care</h3>
    <button class="start">Take SKIN QUIZ</button>
  </div>
  <div class="firstPageMb">
    <img src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/firstPageImg.jpg?v=1674566388" alt="first page image">
    <h2>Take our New Quiz to Find <br>The Best Products</h2>
    <h3>for Your Skin-Care</h3>
    <button class="startMb">Take SKIN QUIZ</button>
  </div>
  <div class="quiz" id="quiz">
    <div class="iconQuizBackground" id="icQzBkgd1">!</div>
    <div class="iconQuizBackground" id="icQzBkgd2">!</div>

    <form
      class="form-from-GR"
      action="https://app.getresponse.com/add_subscriber.html"
      accept-charset="utf-8"
      method="post"
    >
      <div class="wrapperWingo">
        <div class="passSeccsess">Your Results Are In!</div>
        <h3 class="container-user-info-title">
          Our questions + your answers = personal recommendations from a dermatologist
        </h3>
        <div class="container-user-info">
          <!-- <form action="https://app.getresponse.com/add_subscriber.html" accept-charset="utf-8" method="post"> -->
          <p class="pska">Leave your contacts to get the result</p>
          <input class="kinput" type="text" name="name" placeholder="Enter your name">
          <input class="kinput emailFormQuiz" type="text" name="email" placeholder="Enter your email">
          <input class="kinput" name="custom_mobile_phone" type="text" value="" placeholder="Enter your phone number">
          <!-- Get the token at: https://app.getresponse.com/campaign_list.html -->
          <input type="hidden" name="campaign_token" value="LxdtP">
          <!-- Thank you page (optional) -->
          <input type="hidden" name="thankyou_url" value="https://remedial.store/pages/resultsquiz">
          <!-- Add subscriber to the follow-up sequence with a specified day (optional) -->
          <input type="hidden" name="start_day" value="0">
          <!-- <input class ='btnFromGR'  type="submit" value="CONTINUE"/> -->
        </div>
      </div>
    </form>

    <div class="quiz-header" id="header">
      <!-- Заголовок вопроса -->
      <!-- Результаты викторины -->
    </div>
    <div class="quiz-list" id="list"></div>
    <div class="buttons buttonsColumn">
      <button class="quiz-submit submit btn" id="submit" data-value="10">
        Next
        <img
          src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/nextBTNQuiz.png?v=1671785952"
          alt="QuizBtnNext"
        >
      </button>
      <button class="formbtn" id="formbtn" data-value="10">
        Next
        <img
          src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/nextBTNQuiz.png?v=1671785952"
          alt="QuizBtnNext"
        >
      </button>
      <button class="quiz-prev prevQuiz" id="prevQuiz" data-value="10">
        <img src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/backBTNQuiz.png?v=1672149614" alt="QuizBtn"
        >Back
      </button>
    </div>
    <div id="progressQuiz"></div>
  </div>
  <div class="loader">!</div>
</div>
<script>
  const chatWidget = document.querySelector( "#shopify-chat-dummy" );
  chatWidget.style.display = "none";
  
</script>
{% schema %}
{
  "name": "Quiz",
  "settings": []
}
{% endschema %}
