<style></style>

<!-- page-faqs.liquid -->
<div id="quiz-remedial-results-ResQz">
  <div id="firstText-ResQz">
    <h4>Healthy skin starts today</h4>
    <h5>We have outlined the essentials that will jumpstart your journey toward healthier skin.</h3>
      <button id="retake-ResQz" class="retake-ResQz">Retake Quiz</button>

  </div>
  <div id="slider-ResQz">
          <h4>Your <span>Top Ingredients</span> For Your Skin Type:</h4>
          <h5 class="secondStartTextSlider-ResQz">Trusted, natural ingredients recommended for healthy, glowing skin.</h5>
    <div id="slider-ResQz-block">
      <div id="slider-ResQz-gorisontImg">
        <button id="sliderr-ResQz-prev"><img src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/backSliderQzRes.png?v=1672909673" alt="backBtnQuizResSlider"></button>
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz1.png?v=1672838215" alt="sliderimg1" id="1">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz2.png?v=1672992919" alt="sliderimg2" id="2">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz3.png?v=1672992920" alt="sliderimg3" id="3">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz4.png?v=1672993225" alt="sliderimg4" id="4">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz5.png?v=1673251001" alt="sliderimg5" id="5">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz6.png?v=1673251001" alt="sliderimg6" id="6">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz7.png?v=1673251001" alt="sliderimg7" id="7">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz8.png?v=1673251001" alt="sliderimg8" id="8">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz9.png?v=1673251001" alt="sliderimg9" id="9">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz10.png?v=1673251001" alt="sliderimg10" id="10">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz11.png?v=1673251001" alt="sliderimg11" id="11">
        <img class="imgSlider" src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/sliderQz12.png?v=1673251001" alt="sliderimg12" id="12">
        <button id="sliderr-ResQz-next"><img src="https://cdn.shopify.com/s/files/1/0566/4322/3596/files/nextSliderQzRes.png?v=1672909673" alt="nextBtnQuizResSlider"></button>
      </div>
      <div id="slider-ResQz-textProgerss">
        <h5 class="firstSliderText-ResQz">Niacinamide</h5>
        <h5 class="secondSliderText-ResQz">Is able to stabilize your skin’s barrier function, reducing the amount of water loss, and increasing overall hydration.</h5>
        <h6 id="progressSlider-ResQz"><span id="1">•</span><span id="2">•</span><span id="3">•</span><span id="4">•</span><span id="5">•</span><span id="6">•</span><span id="7">•</span><span id="8">•</span><span id="9">•</span><span id="10">•</span><span id="11">•</span><span id="12">•</span></h5>
      </div>
    </div>
  </div>
  <div id="recomTextContainer-ResQz">
        <h4>Your Skincare Routine</h4>
  </div>
  <div id="recomContainer-ResQz"></div>
  <hr class="Blockline-ResQz">
  <div id="resultContainer-ResQz">
      <h4 id="textFirstResultContainer-ResQz">Your Analysis</h4>
  </div>
</div>

{% schema %}
{
  "name": "Quiz results",
  "settings": []
}
{% endschema %}
