{% schema %}
{
  "name": "Referral Section",
  "settings": [

  ]
}
{% endschema %}

<section class="wrapper">
  <div class="container">
    <div class="wrapperCont">
      <div class="containerTextWrapper">
        <div class="containerText">
          <h1>Try Skin Care & Earn Money</h1>
          <p>Join Our Influencer Partner Program And Earn Money For Reviewing Our Products.</p>

          <ul>
            <li>&#8226; 40% commission from each sale</li>
            <li>&#8226; $2,000+ monthly earnings</li>
            <li>&#8226; work with a beloved American brand</li>
          </ul>
          <img src="/Frame427319460.png" alt="">
        </div>
      </div>
      <div class="">
        <img src="/Frame427319459.png" alt="">
      </div>
    </div>
  </div>
  <div class="containerWorks">
    <h2>How it works</h2>
    <div class="WorkStep">
      <div class="WorkStepSection">
        <p class="first">01</p>
        <p class="second">Contact Us</p>
        <p class="third">Message us and get details from a personal manager</p>
      </div>
      <div class="WorkStepSection">
        <p class="first">02</p>
        <p class="second">Get a Link</p>
        <p class="third">Get a unique affiliate link</p>
      </div>
      <div class="WorkStepSection">
        <p class="first">03</p>
        <p class="second">Create Content</p>
        <p class="third">Talk about our product on Instagram, TikTok, YouTube, etc.</p>
      </div>
      <div class="WorkStepSection">
        <p class="first">04</p>
        <p class="second">Earn Money</p>
        <p class="third">Get a 40% commission from each sale made using your link</p>
      </div>
    </div>
  </div>
  <div class="containerPartner">
    <h2><span>Let's Partner Up:</span> Perfect for Those with an Engaged Community</h2>
    <p>3 Reasons Why Influencers Love Working With Us</p>
    <div class="containerPartnerBlocks">
      <div class="blockPartner">
        <img src="/3.54 2 1.svg" alt="">
        <p class="firstPartner">Beloved Products:</p>
        <p class="secondPartner">Our skin care products use powerful formulations and natural ingredients</p>
      </div>
      <div class="blockPartner">
        <img src="/11074175 1.svg" alt="">
        <p class="firstPartner">Total Transparency Policy:</p>
        <p class="secondPartner">
          We give full access to all the information about your earnings, engagement rate, clicks, etc.
        </p>
      </div>
      <div class="blockPartner">
        <img src="/bar_chart 1.svg" alt="">
        <p class="firstPartner">Growing Online Presence:</p>
        <p class="secondPartner">Grow your community and gain new loyal followers with Remedial Pax</p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="wrapperCont">
      <div class="containerTextWrapper">
        <div class="containerText">
          <h1>Try Skin Care & Earn Money</h1>
          <p>Join Our Influencer Partner Program And Earn Money For Reviewing Our Products.</p>

          <ul>
            <li>&#8226; 40% commission from each sale</li>
            <li>&#8226; $2,000+ monthly earnings</li>
            <li>&#8226; work with a beloved American brand</li>
          </ul>
          <div>
            <p class="Message">Message us</p>
            <div class="likssocial">
              <div><img src="/Fram2.svg" alt=""></div>
              <div class="linkdown">
                <div class="linksociaInst">
                  <img src="/instagram.svg" alt="">
                  <p class="inst">Instagram</p>
                </div>
                <div class="linksociaInst">
                  <img src="/messenger.svg" alt="">
                  <p class="inst">Messenger</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="">
        <img src="/Frame427319459.png" alt="">
      </div>
    </div>
  </div>
</section>
