.thebiggestwrap {
  max-width: 100%;
  padding-left: 0%;
  padding-right: 0%;
  min-height: auto;
  color: #000;
}

.firstPage {
  max-width: 1100px;
  min-height: 530px;
  max-height: 530px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  padding: 100px 0;
  padding-left: 100px;

  background-image: url("https://cdn.shopify.com/s/files/1/0566/4322/3596/files/startQuizRemedial.jpg?v=1671706102");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  font-family: "SF Pro Display";
  font-weight: 400;

  border-radius: 5px;

  animation: showBottomStart4 1s;
  z-index: 1;
}

.firstPage h2 {
  font-size: 35px;
  width: 440px;
  color: #000;
  line-height: 47px;
  font-weight: 500;

  padding-left: 7px;

  animation: showBottomStart1 0.8s;
  z-index: 1;
}

.firstPage h3 {
  font-size: 50px;
  width: 433px;
  color: #000;
  padding-left: 7px;
  padding-bottom: 4px;

  background-image: url("https://cdn.shopify.com/s/files/1/0566/4322/3596/files/rectangleStartPageQuiz.png?v=1671707434");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 100%;

  animation: showBottomStart2 1s;
  z-index: 1;
}

.start {
  display: block;
  width: 310px;
  color: #ffffff;
  font-size: 23px;
  text-align: center;

  border: none;
  background: rgba(53, 68, 111, 1);
  cursor: pointer;
  height: 50px;

  margin-top: 30px;

  transition: all 0.15s;

  /*   animation: showBottomStart2 1.2s;  подумать над этим
  z-index: 1; */
}
.start:hover {
  box-shadow: 0px 10px 15px -3px rgba(53, 68, 111, 0.3);
  transition: all 0.15s;
}

@keyframes showBottomStart1 {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showBottomStart2 {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes showBottomStart3 {
  from {
    transform: translateY(40px);
    box-shadow: 0px 10px 15px -3px #162835;
  }
  to {
    transform: translateY(0px);
    box-shadow: 0px 0px 0px 0px #162835;
  }
}
@keyframes showBottomStart4 {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

/* --------------- first page adaptive for mobile --------------------------- */

.firstPageMb {
  height: 480px;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.firstPageMb img {
  wigth: 100%;
  margin-bottom: 15px;
}
.firstPageMb h2 {
  text-align: center;
  font-size: 19px;
}
.firstPageMb h3 {
  text-align: center;
  font-size: 30px;
}
.startMb {
  display: block;
  width: 100%;
  color: #ffffff;
  font-size: 22px;
  text-align: center;

  border: 1px solid #35446f;
  background: rgba(53, 68, 111, 1);
  cursor: pointer;
  height: 45px;

  margin-top: 10px;

  transition: all 0.15s;
}
.startMb:hover {
  box-shadow: 0px 10px 15px -3px rgba(53, 68, 111, 0.3);
  transition: all 0.15s;
}

/*-----------------------------------------------------------------------------------------*/

.quiz {
  min-height: 530px;
  max-height: 530px;

  display: none;
  justify-content: space-between;

  position: relative;

  max-width: 100%;
}

/*---------- animation infinite background -------------------------------------------------------------------------------*/
.iconQuizBackground {
  position: absolute;
  width: 220px;
  height: 220px;
  color: rgba(0, 0, 0, 0);
  background-image: url("https://cdn.shopify.com/s/files/1/0566/4322/3596/files/02.png?v=1664193766");
  background-repeat: no-repeat;
  background-size: 220px;
  background-position: 7% 7%;
  opacity: 0.03;
  z-index: 1;
}

#icQzBkgd1 {
  animation: 16s linear infinite iconBackgroundQuiz1;

  left: 6%;
  top: 6%;
}
#icQzBkgd2 {
  animation: 16s linear infinite iconBackgroundQuiz2;

  right: 6%;
  bottom: 6%;
}
@keyframes iconBackgroundQuiz1 {
  from {
    transform: rotate(100deg);
  }
  to {
    transform: rotate(460deg);
  }
}
@keyframes iconBackgroundQuiz2 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}
/*-----------------------------------------------------------------------------------------*/

.title {
  text-align: center;
  padding: 0 40px;
}

h3.title {
  margin: 0;
  margin-top: 0px;
  margin-bottom: 10px;
  font-size: 48px;
  font-family: "Minerva-Modern";
  font-weight: 400;
  color: #162835;

  animation: showTextQuiz 0.8s;
  z-index: 1;
}
h3.title span.placeClarifyingQuestion {
  position: absolute;
  width: 55%;
  font-size: 26px;
  font-family: "SF Pro Display";
  font-weight: 400;
  left: 22%;
  top: 410px;
  text-align: left;
}
@keyframes showTextQuiz {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.summary {
  text-align: center;
  margin: 0.5rem 0 1rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.buttons {
  display: flex;
  width: 400px;
  margin: 0 auto;
  flex-direction: row-reverse;
  padding-bottom: 1%;

  animation: showTextQuiz 0.5s;
  z-index: 1;
  transition: all 0.15s;
}

@keyframes showTextQuiz {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.quiz-submit {
  height: 55px;
}

.quiz-prev {
  height: 55px;
}

.prevQuiz {
  cursor: pointer;
  display: none;
  background: rgba(205, 214, 219, 0);
  width: 100%;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  color: #35446f;
  font-family: "SF Pro Display";
  font-weight: 400;
  border: 1px solid rgba(0, 0, 0, 0);

  animation: showPrevBtnQuiz 0.8s;

  transition: all 0.15s;
}
.prevQuiz img {
  width: 26px;
  margin-bottom: 3.5px;
}
@keyframes showPrevBtnQuiz {
  from {
    opacity: 0;
    transform: translateX(180px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*---------hover----------------------------------*/

/*------------------------------------------*/

.submit {
  background: #35446f;
  display: none;
  width: 100%;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-family: "SF Pro Display";
  font-weight: 400;

  padding-left: 19px;
  animation: showSubmitBtnQuiz 0.5s;

  transition: all 0.15s;
}
.submit img {
  width: 20px;
  margin-bottom: 3px;
}
.submit:hover {
  color: #fff;
}
@keyframes showSubmitBtnQuiz {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/*---------hover----------------------------------*/

/*------------------------------------------*/
.quiz-getRes {
}
.formbtn {
  background: #35446f;
  display: none;
  width: 100%;
  cursor: pointer;
  font-size: 28px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-family: "SF Pro Display";
  font-weight: 400;
  border: none;

  padding-left: 19px;

  transition: all 0.15s;

  animation: showBtnFrom 0.3s;
}

.formbtn img {
  width: 20px;
  margin-bottom: 3px;
}
.formbtn:hover {
  color: #fff;
}
@keyframes showBtnFrom {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/***************************** Progress ********************************************************/

#progressQuiz {
  position: absolute;
  top: 18px;
  right: 0;
}
.textProgressQuiz {
  position: absolute;
  font-size: 19px;
  display: inline;

  top: -3px;
  right: 27px;

  animation: progressAnimate 0.4s;
}

@keyframes progressAnimate {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/************************************ Result style**************************/

.varirki {
  display: block;
  padding-left: 50px;
  padding-top: 8px;
  font-size: 34px;
  line-height: 39.19px;
  letter-spacing: 0.5px;
}
/************************************ Validation style**************************/
.container-user-info {
  width: auto;
  margin: 0 auto;

  position: relative;
  animation: showBottomBtn 0.8s;
  z-index: 1;
}
.wrapperWingo {
  margin: 0 auto;
}

.passSeccsess {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  font-size: 42px;
  color: #162835;
  padding: 0;
  line-height: 50px;
  padding-bottom: 10px;

  font-family: "Minerva-Modern";
  font-weight: 400;

  position: relative;
  animation: showPassSeccsess 0.7s;
  z-index: 1;
}
@keyframes showPassSeccsess {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.container-user-info-title {
  font-family: "SF Pro Display";
  font-weight: 400;

  color: #35446f;
  font-size: 20px;
  text-align: center;
  margin: 0 auto;
  line-height: 25px;
  padding-bottom: 10px;

  position: relative;
  animation: showContainer-user-info-title 0.75s;
  z-index: 1;
}
@keyframes showContainer-user-info-title {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

p.pska {
  color: #162835;
  width: 100%;
  margin: 0 auto;
  font-size: 22px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 10px;

  font-family: "SF Pro Display";
  font-weight: 400;
}

.misstake-class {
  -webkit-appearance: none;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(210, 0, 0, 1);
  box-shadow: 0px 0px 5px 1px rgba(210, 0, 0, 1);
}

.kinput {
  background: rgba(0, 0, 0, 0);
  outline: 0;

  border: 2px solid transparent;
  border-image: linear-gradient(
    110deg,
    rgba(187, 201, 236, 1) -25%,
    rgba(37, 47, 73, 0.05) 135%
  );
  border-image-slice: 1;

  border-radius: 1px;
  width: 100%;
  height: 60px;
  font-size: 19px;
  padding-left: 20px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  font-family: "SF Pro Display";
  font-weight: 400;
  color: #000;
}
.kinput::placeholder {
  color: #919398;
  font-size: 19px;
}
.kinput:focus {
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0);
}

.quiz-list {
  width: 100%;
  display: grid;

  flex-wrap: wrap;
  grid-template-columns: 300px 300px;
  justify-content: center;
  margin: 0 auto;

  gap: 25px 23px;
  /*   flex-wrap: wrap; */
}
/* adaptiv for question-1 --------------------------- */
.quiz[id="0"] > .quiz-list {
  display: grid;
  width: 100%;
}
@media (max-width: 768px) {
  .quiz[id="0"] > .quiz-list {
    grid-template-columns: 1fr 1fr;
  }
  .quiz[id="0"] > .quiz-list .itemAnswer {
    width: 100%;
    height: 100px;
  }
  .quiz[id="0"] > .quiz-list .activeBtn {
    width: 100%;
    height: 100px;
  }
  .quiz[id="0"] > .quiz-list .activeBtn img {
    height: 80px;
  }
  .quiz[id="0"] > .quiz-list .itemAnswer img {
    height: 80px;
  }
}
@media (max-width: 479px) {
  .quiz[id="0"] > .quiz-list {
    grid-template-columns: 80%;
    gap: 12px 15px;
  }
  .quiz[id="0"] > .quiz-list .itemAnswer,
  .quiz[id="0"] > .quiz-list .activeBtn {
    height: 80px;
  }
  .quiz[id="0"] > .quiz-list .itemAnswer img,
  .quiz[id="0"] > .quiz-list .activeBtn img {
    height: 65px;
  }
  .quiz[id="0"] > .quiz-list button h5 {
    font-size: 21px;
  }
}

/* adaptiv for question-2 --------------------------- */
.quiz[id="1"] > .quiz-list {
  display: flex;
  width: 1080px;
}
.quiz[id="1"] > .itemAnswer {
  width: 300px;
  height: 120px;
}
.quiz[id="1"] > .activeBtn {
  width: 300px;
  height: 120px;
}
@media (max-width: 1200px) {
  .quiz[id="1"] > .quiz-list {
    width: 940px;
  }
  .quiz[id="1"] > .quiz-list .itemAnswer {
    width: 280px;
    height: 110px;
  }
  .quiz[id="1"] > .quiz-list .activeBtn {
    width: 280px;
    height: 110px;
  }
}
@media (max-width: 991px) {
  .quiz[id="1"] > .quiz-list {
    width: 680px;
  }
  .quiz[id="1"] > .quiz-list .itemAnswer {
    width: 200px;
    height: 120px;
  }
  .quiz[id="1"] > .quiz-list .activeBtn {
    width: 200px;
    height: 120px;
  }
}
@media (max-width: 768px) {
  .quiz[id="1"] > .quiz-list {
    width: 440px;
  }
  .quiz[id="1"] > .quiz-list .itemAnswer {
    width: 210px;
    height: 88px;
  }
  .quiz[id="1"] > .quiz-list .activeBtn {
    width: 210px;
    height: 88px;
  }
}
@media (max-width: 479px) {
  .quiz[id="1"] > .quiz-list {
    width: 320px;
    gap: 10px 10px;
  }
  .quiz[id="1"] > .quiz-list .itemAnswer {
    width: 150px;
    height: 90px;
  }
  .quiz[id="1"] > .quiz-list .activeBtn {
    width: 150px;
    height: 90px;
  }
  .buttons {
    width: 310px;
  }
}
/* adaptiv for question-3 --------------------------- */
.quiz[id="2"] > .quiz-list {
  display: flex;
  width: 100%;
}
/* adaptiv for question-5 --------------------------- */
@media (max-width: 991px) {
  .quiz[id="3"] > .quiz-list,
  .quiz[id="4"] > .quiz-list {
    grid-template-columns: 250px 250px;
  }

  .quiz[id="3"] > .quiz-list .itemAnswer,
  .quiz[id="4"] > .quiz-list .itemAnswer {
    width: auto;
    height: 110px;
  }
  .quiz[id="3"] > .quiz-list .activeBtn,
  .quiz[id="4"] > .quiz-list .activeBtn {
    width: auto;
    height: 110px;
  }
}
@media (max-width: 768px) {
  .quiz[id="3"] > .quiz-list,
  .quiz[id="4"] > .quiz-list {
    grid-template-columns: 210px 210px;
    gap: 10px 15px;
  }
  .quiz[id="3"] > .quiz-list .itemAnswer,
  .quiz[id="4"] > .quiz-list .itemAnswer {
    height: 100px;
  }
  .quiz[id="3"] > .quiz-list .activeBtn,
  .quiz[id="4"] > .quiz-list .activeBtn {
    height: 65px;
  }
}
@media (max-width: 479px) {
  .quiz[id="3"] > .quiz-list,
  .quiz[id="4"] > .quiz-list {
    grid-template-columns: 80%;
    gap: 12px 15px;
  }
  .quiz[id="3"] > .quiz-list .itemAnswer,
  .quiz[id="4"] > .quiz-list .itemAnswer {
    height: 70px;
  }
  .quiz[id="3"] > .quiz-list .activeBtn,
  .quiz[id="4"] > .quiz-list .activeBtn {
    height: 70px;
  }
}
/* adaptiv for question-(6-11) --------------------------- */
.quiz[id="5"] > .quiz-list,
.quiz[id="6"] > .quiz-list,
.quiz[id="7"] > .quiz-list,
.quiz[id="8"] > .quiz-list,
.quiz[id="9"] > .quiz-list {
  display: grid;
  width: 55%;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 1200px) {
  .quiz[id="5"] > .quiz-list,
  .quiz[id="6"] > .quiz-list,
  .quiz[id="7"] > .quiz-list,
  .quiz[id="8"] > .quiz-list,
  .quiz[id="9"] > .quiz-list {
    width: 70%;
  }
}
@media (max-width: 991px) {
  .quiz[id="5"] > .quiz-list,
  .quiz[id="6"] > .quiz-list,
  .quiz[id="7"] > .quiz-list,
  .quiz[id="8"] > .quiz-list,
  .quiz[id="9"] > .quiz-list {
    width: 90%;
  }
}
@media (max-width: 768px) {
  .quiz[id="5"] > .quiz-list,
  .quiz[id="6"] > .quiz-list,
  .quiz[id="7"] > .quiz-list,
  .quiz[id="8"] > .quiz-list,
  .quiz[id="9"] > .quiz-list {
    width: 100%;
  }
  .quiz[id="5"] > .quiz-list .quistion6ImgBlock,
  .quiz[id="6"] > .quiz-list .quistion6ImgBlock,
  .quiz[id="7"] > .quiz-list .quistion6ImgBlock,
  .quiz[id="8"] > .quiz-list .quistion6ImgBlock,
  .quiz[id="9"] > .quiz-list .quistion6ImgBlock {
    padding-left: auto;
  }
  .quiz[id="5"] > .quiz-list .quistion6ImgBlock img,
  .quiz[id="6"] > .quiz-list .quistion6ImgBlock img,
  .quiz[id="7"] > .quiz-list .quistion6ImgBlock img,
  .quiz[id="8"] > .quiz-list .quistion6ImgBlock img,
  .quiz[id="9"] > .quiz-list .quistion6ImgBlock img {
    width: 160px;
  }
  .quiz[id="5"] > .quiz-list .answers6withImg,
  .quiz[id="6"] > .quiz-list .answers6withImg,
  .quiz[id="7"] > .quiz-list .answers6withImg,
  .quiz[id="8"] > .quiz-list .answers6withImg,
  .quiz[id="9"] > .quiz-list .answers6withImg {
    align-items: end;
  }

  .quiz[id="5"] > .quiz-list button,
  .quiz[id="6"] > .quiz-list button,
  .quiz[id="7"] > .quiz-list button,
  .quiz[id="8"] > .quiz-list button,
  .quiz[id="9"] > .quiz-list button {
    width: 220px;
    height: 41px;
  }
}
@media (max-width: 479px) {
  .quiz[id="5"] > .quiz-list,
  .quiz[id="6"] > .quiz-list,
  .quiz[id="7"] > .quiz-list,
  .quiz[id="8"] > .quiz-list,
  .quiz[id="9"] > .quiz-list {
    display: grid;
    grid-template-columns: 80%;
    gap: 12px 15px;
  }
  .quiz[id="5"] > .quiz-list .quistion6ImgBlock,
  .quiz[id="6"] > .quiz-list .quistion6ImgBlock,
  .quiz[id="7"] > .quiz-list .quistion6ImgBlock,
  .quiz[id="8"] > .quiz-list .quistion6ImgBlock,
  .quiz[id="9"] > .quiz-list .quistion6ImgBlock {
    display: none;
  }
  .quiz[id="5"] > .quiz-list .answers6withImg,
  .quiz[id="6"] > .quiz-list .answers6withImg,
  .quiz[id="7"] > .quiz-list .answers6withImg,
  .quiz[id="8"] > .quiz-list .answers6withImg,
  .quiz[id="9"] > .quiz-list .answers6withImg {
    width: 100%;
  }
  .quiz[id="5"] > .quiz-list button,
  .quiz[id="6"] > .quiz-list button,
  .quiz[id="7"] > .quiz-list button,
  .quiz[id="8"] > .quiz-list button,
  .quiz[id="9"] > .quiz-list button {
    height: 70px;
    width: 100%;
  }
}

/*  adaptiv for question-(10-11)-------------------------------------------------*/
.quiz[id="10"] > .quiz-list,
.quiz[id="11"] > .quiz-list {
  display: grid;
  width: 100%;
  grid-template-columns: 300px 300px 300px;
}
.quiz[id="10"] > .itemAnswer,
.quiz[id="10"] > .quiz-list .activeBtn,
.quiz[id="11"] > .itemAnswer,
.quiz[id="11"] > .quiz-list .activeBtn {
  width: 300px;
}

@media (max-width: 1200px) {
  .quiz[id="10"] > .quiz-list,
  .quiz[id="11"] > .quiz-list {
    grid-template-columns: 280px 280px 280px;
  }
  .quiz[id="10"] > .quiz-list .itemAnswer,
  .quiz[id="10"] > .quiz-list .activeBtn,
  .quiz[id="11"] > .quiz-list .itemAnswer,
  .quiz[id="11"] > .quiz-list .activeBtn {
    width: 280px;
  }
}
@media (max-width: 991px) {
  .quiz[id="10"] > .quiz-list,
  .quiz[id="11"] > .quiz-list {
    display: flex;
    width: 650px;
  }
  .quiz[id="10"] > .quiz-list .itemAnswer,
  .quiz[id="10"] > .quiz-list .activeBtn,
  .quiz[id="11"] > .quiz-list .itemAnswer,
  .quiz[id="11"] > .quiz-list .activeBtn {
    width: 280px;
    height: 100px;
  }
}
@media (max-width: 768px) {
  .quiz[id="10"] > .quiz-list {
    width: 430px;
    display: grid;
    grid-template-columns: 80%;
    gap: 12px 15px;
  }
  .quiz[id="10"] > .quiz-list .itemAnswer,
  .quiz[id="10"] > .quiz-list .activeBtn {
    width: auto;
    height: 90px;
  }
  .quiz[id="11"] > .quiz-list {
    display: flex;
    width: 430px;
  }
  .quiz[id="11"] > .quiz-list .itemAnswer,
  .quiz[id="11"] > .quiz-list .activeBtn {
    width: 200px;
    height: 90px;
  }
}
@media (max-width: 479px) {
  .quiz[id="10"] > .quiz-list {
    width: 330px;
  }
  .quiz[id="10"] > .quiz-list .itemAnswer,
  .quiz[id="10"] > .quiz-list .activeBtn {
    height: 90px;
  }
  .quiz[id="11"] > .quiz-list {
    width: 330px;
  }
  .quiz[id="11"] > .quiz-list .itemAnswer,
  .quiz[id="11"] > .quiz-list .activeBtn {
    width: 156px;
    height: 90px;
  }
}
/*  adaptiv for question-12-------------------------------------------------*/
.quiz[id="12"] > .quiz-list {
  display: flex;
  width: 1080px;
  justify-content: space-beetwen;
}
.quiz[id="12"] > .itemAnswer {
  width: 300px;
  height: 120px;
}
.quiz[id="12"] > .activeBtn {
  width: 300px;
  height: 120px;
}

@media (max-width: 1200px) {
  .quiz[id="12"] > .quiz-list {
    width: 940px;
  }
  .quiz[id="12"] > .quiz-list .itemAnswer {
    width: 280px;
    height: 110px;
  }
  .quiz[id="12"] > .quiz-list .activeBtn {
    width: 280px;
    height: 110px;
  }
}
@media (max-width: 991px) {
  .quiz[id="12"] > .quiz-list {
    width: 680px;
  }
  .quiz[id="12"] > .quiz-list .itemAnswer {
    width: 200px;
    height: 120px;
  }
  .quiz[id="12"] > .quiz-list .activeBtn {
    width: 200px;
    height: 120px;
  }
}
/*********************************/
@media (max-width: 768px) {
  .quiz[id="12"] > .quiz-list {
    width: 440px;
  }
  .quiz[id="12"] > .quiz-list .itemAnswer {
    width: 210px;
    height: 90px;
  }
  .quiz[id="12"] > .quiz-list .activeBtn {
    width: 210px;
    height: 90px;
  }
}
@media (max-width: 479px) {
  .quiz[id="12"] > .quiz-list {
    width: 320px;
  }
  .quiz[id="12"] > .quiz-list .itemAnswer {
    width: 150px;
    height: 90px;
  }
  .quiz[id="12"] > .quiz-list .activeBtn {
    width: 150px;
    height: 90px;
  }
  .buttons {
    width: 310px;
  }
}
/*-----------------------------------------------------------------------------------------------------------------*/

.quiz-list button {
  width: 300px;
  height: 140px;
  padding: 10px;
  border: 2px solid transparent;
  border-image: linear-gradient(
    110deg,
    rgba(187, 201, 236, 1) -25%,
    rgba(37, 47, 73, 0.05) 135%
  );
  border-image-slice: 1;

  border-radius: 1px;
  font-size: 26px;
  color: #35446f;
  line-height: 26px;

  display: flex;
  justify-content: space-around;
  align-items: center;

  font-family: "Minerva-Modern";
  font-weight: 400;

  position: relative;
  animation: showBottomBtn 0.8s;
  z-index: 1;

  background-image: linear-gradient(110deg, #fff, #fff);

  transition: all 0.15s;
}
.quiz-list button::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(110deg, #c6d6ff -400%, #fff 145%);
  box-shadow: 0px 4px 8px rgba(184, 198, 233, 0.38);

  z-index: -1;
  transition: opacity 0.15s linear;
  opacity: 0;
}
.quiz-list button:hover::before {
  opacity: 1;
}

.quiz-list button.activeBtn {
  background-image: linear-gradient(110deg, #c6d6ff -400%, #fff 145%);

  box-shadow: 0px 4px 8px rgba(184, 198, 233, 0.38);
  transition: all 0.15s;
  transform: scale(1.03);
}
/*-----------------------------------------------------------------------------------------------------------------*/
.quiz-list button img {
  height: 110px;
}
.quiz-list button h5 {
  width: 150px;
  font-family: "Minerva-Modern";
  font-weight: 400;
  font-size: 26px;
}
@keyframes showBottomBtn {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
/*--------hover buttons-------------------------------------------------*/

/*---------------------------------------------------------*/

.quistion6ImgBlock {
  /* for images */
  padding-left: 20%;
  height: 310px;
}
.quistion6ImgBlock img {
  position: absolute;
  display: block;
  margin: 0 auto;
  width: 190px;

  transition: all 0.3s;
}
#primQz6 {
  animation: showImg6Quiz 1s;
}

@keyframes showImg6Quiz {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.answers6withImg {
  /* for button */
  width: 300px;
  height: 310px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 9px;
  justify-content: center;
}
.answers6withImg button {
  height: 46px;
}

.form-from-GR {
  display: none;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 60px;
}
.loader {
  min-height: 480px;
  max-height: 480px;
  display: none;
  justify-content: center;
  flex-direction: row;
  margin: 0 auto;

  color: rgba(0, 0, 0, 0);
  /*     background-image: url('https://cdn.shopify.com/s/files/1/0678/5276/3431/files/4dc11d17f5292fd463a60aa2bbb41f6a.gif?v=1669204628'); */
  background-image: url("https://cdnjs.cloudflare.com/ajax/libs/file-uploader/3.7.0/processing.gif");
  background-repeat: no-repeat;
  background-size: 25px 25px;
  background-position: 50%;
}
/*-------------------------    scin Color Quiestion    -----------------------------------------------------------------------------*/
.parentscincolor {
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
  animation: showBlockColorQuiz 1s;

  /*   padding-bottom: 20px; */
}

@keyframes showBlockColorQuiz {
  from {
    transform: translateX(100px);
    opacity: 0;
  }
  to {
    transform: translateX(0px);
    opacity: 1;
  }
}

.blockcolorParent {
  padding: 10px;
  border: 2px solid transparent;
  border-image: linear-gradient(
    110deg,
    rgba(187, 201, 236, 1) -25%,
    rgba(37, 47, 73, 0.05) 135%
  );
  border-image-slice: 1;
  height: 270px;
  width: 400px;
  margin-bottom: 20px;
  border-radius: 2px;
}
.blockcolor {
  color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;

  border-radius: 2px;
  background: #eebf95;
}

.colorscinrange {
  -webkit-appearance: none;
  width: 400px;
  height: 41px;
  background: linear-gradient(
    to right,
    #fde9df,
    #f4d9c0,
    #ecba8f,
    #c48b54,
    #875b49,
    #331e13
  );
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 2px;
  padding: 0;
}

.colorscinrange::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 42px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #35446f;
  border-radius: 2px;
  box-shadow: 3px 3.34677px 3.34677px rgba(0, 0, 0, 0.13);
  transition: all 0.2s;
}
.colorscinrange::-moz-range-thumb {
  width: 15px;
  height: 42px;
  background: #fff;
  cursor: pointer;
  border: 1px solid #35446f;
  border-radius: 2px;
  box-shadow: 3px 3.34677px 3.34677px rgba(0, 0, 0, 0.13);
  transition: all 0.1s;
}
input[type="range"]::-webkit-slider-thumb:hover,
input[type="range"]::-webkit-slider-thumb:active {
  transform: scale(102%);
}
#hintQuiz3 {
  color: rgba(0, 0, 0, 0);
  width: 22px;
  height: 22px;
  margin-top: 10px;
  display: block;
  align-self: end;

  background-image: url("https://cdn.shopify.com/s/files/1/0566/4322/3596/files/questionQuizIcon3.png?v=1672130387");
  background-repeat: no-repeat;
  background-size: 22px;
  background-position: 0% 0%;

  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;

  transition: all 0.2s;
}
#hintQuiz3:hover {
  transform: scale(113%);
  transition: all 0.2s;
}
#tooltipQuiz {
  position: absolute;
  bottom: 115px;
  right: 30px;
  wigth: 355px;
  height: 55px;
  background: rgba(255, 255, 255, 0.88);
  border: 1px solid #162835;
  border-radius: 10px 10px 10px 10px;
  padding: 10px 25px;
  opacity: 0;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 19px;
  visibility: hidden;

  transition: all 0.2s;
}

.kinput.telInputQuiz {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .blockcolorParent {
    height: 230px;
  }
}
@media (max-width: 479px) {
  .blockcolorParent {
    height: 250px;
    width: 320px;
  }

  .colorscinrange {
    width: 320px;
    height: 41px;
  }
  #tooltipQuiz {
    font-size: 15px;
    height: 45px;
  }
}

/***********************  Adaptive desktop  991-1200px  **************************************************************************************************************************************************************/

@media (max-width: 991px) {
  /* ------------- start-page ------------- */

  .firstPage {
    min-height: 490px;
    max-height: 490px;

    padding: 150px 0 150px 50px;

    background-position: 65% 50%;
  }

  .firstPage h2 {
    font-size: 25px;
    width: 350px;
    line-height: 37px;

    padding-left: 5px;
  }

  .firstPage h3 {
    font-size: 40px;
    width: 345px;
    padding-left: 5px;
    padding-bottom: 2px;
    line-height: 45px;
  }

  .start {
    width: 260px;
    font-size: 22px;

    height: 50px;

    margin-top: 20px;
  }

  /* ------------- Question 1,4,5 ------------- */
  .quiz {
    min-height: 490px;
    max-height: 490px;
  }
  .iconQuizBackground {
    width: 180px;
    height: 180px;
    background-size: 180px;
    background-position: 5% 5%;
  }

  #icQzBkgd1 {
    left: 2%;
    top: 2%;
  }
  #icQzBkgd2 {
    right: 0%;
    bottom: 0%;
  }

  .title {
    padding: 0 30px;
  }

  h3.title {
    margin-bottom: 0px;
    font-size: 36px;
    padding: 0;
  }
  h3.title span.placeClarifyingQuestion {
    width: 90%;
    font-size: 23px;
    left: 8%;
    top: 360px;
  }
  #progressQuiz {
    top: 50px;
  }

  .quiz-list {
    grid-template-columns: 300px 300px;
    justify-content: center;

    gap: 18px 15px;
  }

  .quiz-list button {
    width: 290px;
    height: 130px;
    padding: 8px;

    font-size: 22px;
    line-height: 30px;
  }

  .quiz-list button img {
    height: 100px;
  }
  .quiz-list button h5 {
    width: 145px;
    font-size: 22px;
  }

  /* ------------- Question 3 ------------- */

  .blockcolorParent {
    padding: 8px;
    height: 240px;
    margin-bottom: 18px;
  }

  .colorscinrange {
    height: 37px;
  }

  .colorscinrange::-webkit-slider-thumb {
    height: 38px;
  }
  .colorscinrange::-moz-range-thumb {
    height: 38px;
  }

  #hintQuiz3 {
    width: 20px;
    height: 20px;
    margin-top: 15px;

    background-size: 20px;
  }
  #tooltipQuiz {
    bottom: 80px;
    padding: 8px 22px;
  }
  /* ------------- Questions-id-7 ------------- */
  .answers6withImg button {
    height: 46px;
  }

  /*       form adaptive        */
  .form-from-GR {
    padding: 15px 0 40px;
  }
}

/***********************  Adaptive tablet 768-991px  **************************************************************************************************************************************************************/
@media (max-width: 768px) {
  .firstPage {
    min-height: 470px;
    max-height: 470px;

    padding: 150px 0 150px 40px;
    background-position: 65% 50%;
  }
  .quiz {
    min-height: 470px;
    max-height: 470px;
  }

  .firstPage h2 {
    font-size: 26px;
    width: 214px;
    line-height: 32px;

    padding-left: 5px;
    margin-bottom: 15px;
  }

  .firstPage h3 {
    font-size: 40px;
    width: 192px;
    padding-left: 5px;
    padding-bottom: 0px;
    line-height: 43px;
  }

  .start {
    width: 192px;
    font-size: 20px;

    height: 43px;

    margin-top: 35px;
  }
  h3.title {
    font-size: 29px;
  }
  .prevQuiz {
    font-size: 26px;
  }
  .formbtn {
    font-size: 26px;
  }
  #submit {
    font-size: 26px;
  }
  #progressQuiz {
    top: 37px;
  }
  h3.title span.placeClarifyingQuestion {
    top: 341px;
  }
  .quiz-list button {
    line-height: 25px;
    font-size: 21px;
  }
  /*       form adaptive        */
  .form-from-GR {
    padding: 15px 0 30px;
  }
  .passSeccsess {
    font-size: 36px;
    padding: 0 0 5px;
  }
  .container-user-info-title {
    font-size: 20px;
    padding: 0 20px;
    line-height: 22px;
  }
  p.pska {
    margin: 5px auto 5px;
    font-size: 21px;
  }
}
/***********************  Adaptive mobile 479px  **************************************************************************************************************************************************************/

@media (max-width: 479px) {
  /*******************/
  .firstPage {
    display: none;
  }
  .firstPageMb {
    display: flex;
  }
  h3.title {
    font-size: 24px;
    line-height: 29px;
    padding: 0 15%;
  }
  .quiz {
    min-height: 480px;
    max-height: 480px;
  }
  #progressQuiz {
    top: 29px;
  }
  .blockcolorParent {
    height: 220px;
  }
  h3.title span.placeClarifyingQuestion {
    top: 405px;
    left: 10%;
  }
  .prevQuiz {
    font-size: 22px;
    height: 45px;
  }
  .formbtn {
    font-size: 22px;
    height: 45px;
  }
  #submit {
    font-size: 22px;
    height: 45px;
    padding-top: 5px;
  }
  .quiz-list button {
    line-height: 22px;
    font-size: 20px;
  }
  /*       form adaptive        */
  .form-from-GR {
    padding: 15px 0 25px;
  }
  .passSeccsess {
    font-size: 33px;
  }
  p.pska {
    margin: 5px auto 5px;
    font-size: 19px;
  }
}
