{%- case settings.productpage -%}
  {%- when 'product-1' -%} {%- section 'product-template-1' -%}
  {%- when 'product-2' -%} {%- section 'product-template-2' -%}
 
{%- else -%}
  Missing liquid
{%- endcase -%}

<div id="aliexpress-review-wrapper-sp" style="float: left; clear: both; width: 100%" data-id="{{product.id}}" data-shop="bhdrop.myshopify.com" data-shopId="77403"></div>